# Copia este archivo como .env y llena los valores reales
# NUNCA subas el archivo .env a git

# Servidor
PORT=4000

# JWT
JWT_SECRET=cambia_esto_por_una_clave_secreta_larga_y_aleatoria
JWT_EXPIRES_IN=8h

# Base de Datos MySQL (AWS RDS)
DB_HOST=tu-endpoint.rds.amazonaws.com
DB_PORT=3306
DB_USER=tu_usuario
DB_PASSWORD=tu_password
DB_NAME=bi_retail

# Frontend (para CORS)
FRONTEND_URL=http://localhost:5173
